body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.subtitle {
  font-weight: bold;
  font-size: 120%;
}

.login-card p, .login-card span, .login-card {
  color: white;
}

.login-card {
  background-color: rgba(255,255,255,0.2) !important;
  border: 0px !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 30px !important;
}

.filter {
  -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
  backdrop-filter: blur(10px); /* Chrome and Opera */
  background-color: rgba(255, 255, 255, 0.3);
}

.background-image {
  background-image: url("/background.jpeg");
  background-position: center center;
  background-size: cover;
}

.border-radius-50-per {
  border-radius: 50%;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.card-list .ant-card {
  margin-bottom: 20px;
}

.ant-card {
  border-radius: 15px !important;
  overflow: hidden;
}

.ant-card:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.padding-left-16 {
  padding-left: 16px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.text-button {
  color: rgb(24, 144, 255);
  cursor: pointer;
  padding: 0 10px;
}

.text-align-right {
  text-align: right;
}


.color-white  {
  color: white !important;
  text-shadow: 2px 2px 4px #000000;
  line-height: "160px",
}

.no-padding .ant-card-body{
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}
